.App {
  text-align: center;
  min-height: 100vh;
  padding: 5rem;
}

.indicators {
  display: flex;
  gap: 8rem;
  justify-content: center;
  margin-top: 5rem;
}

.indicators p {
  position: relative;
}

.indicators p::before {
  position: absolute;
  content: "";
  top: -1.5rem;
  left: -1.5rem;
  width: 1rem;
  height: 200%;
}

.indicators p:first-child::before {
  background-color: red;
}

.indicators p:nth-child(2)::before {
  background-color: lightgreen;
}

.indicators p:last-child::before {
  background-color: orange;
}
